.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 4%;
}

.navbar .logo{
    width: max(8%, 80px);
}
.navbar .profile{
    width: max(4%,50px);
}